<div class="container">

  <div class="top align-items-md-center">
    <img src="./assets/img/burger.png" class="rounded mx-auto d-block">
    <h1>Eat-Da-Burger</h1>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Burgers to be Devoured!</h5>
          <ul>
            {{#each burgers}}
              {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
              {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Burgers already Devoured!</h5>
          <ul>
            {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card burger-entry">
    <div class="card-body">
      <form class="create-form">
        <div class="form-group">
          <label for="burger">Burger Name:</label>
          <input type="text" id="burger" name="name" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add Burger</button>
      </form>
    </div>
  </div>

</div>