<li>
	{{burger_name}}
	<button class="change-devoured btn btn-sm btn-primary" data-id={{id}} data-newdevoured={{devoured}}>
		{{#if devoured}}Devour it!{{else}}Put it back on the menu?{{/if}}
	</button>
</li>
